fastapi
langchain
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langgraph
notebook
openai
pypdf
pyqt5
python-dotenv
sentence-transformers
transformers
uvicorn
vllm
requests
pymilvus
langchain-milvus
protobuf==5.27.2
