fastapi
langchain
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langgraph
notebook
openai
pypdf
pyqt5
python-dotenv
transformers==4.51.1
sentence-transformers
uvicorn
vllm==0.9.1
requests
pymilvus
langchain-milvus
protobuf==5.27.2
